/* Global */
body {
  font-family: Verdana, Arial, sans-serif;
  max-width: 1280px;
  margin: auto;
  box-sizing: border-box;
}

/* Nav Section */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  width: 1280px;
}

.nav-bar__items {
  padding-right: 50px;
}

.nav-bar__title {
  font-size: 1.5rem;
  margin-left: 50px;
  color: #335576;
}

.nav-bar__title:hover {
  color: #db7a4e;
}

.nav-bar__title-link {
  text-decoration: none;
  display: flex;
}

.nav-bar__title-link img {
  width: 50px;
  margin-left: 10px;
}

.nav-bar__items {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}

.nav-bar__item {
  list-style: none;
  margin-left: 25px;
}

.nav-bar__item-btn {
  font-size: 0.8rem;
  font-weight: 600;
  list-style: none;
  margin-left: 25px;
  background-color: #335576;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  width: 120px;
  text-align: center;
}

.nav-bar__link-btn {
  text-decoration: none;
  color: white;
}

.nav-bar__item-btn:hover {
  background-color: #062c53;
}

.nav-bar__link {
  text-decoration: none;
  color: black;
}

.nav-bar__link:hover {
  color: #db7a4e;
}

.nav-bar__link--highlight {
  border-bottom: 4px solid #db7a4e;
}

/* Footer Section */

/* .footer p {
  color: #335576;
} */

.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 75px;
  padding-right: 75px;
  background-color: #fefaf5;
}

.footer__contact-title,
.footer__hours-title,
.footer__social-title {
  color: #335576;
  font-weight: 600;
  font-size: 1rem;
}

.footer__email-title,
.footer__hours-days {
  color: #db574e;
}

.footer__email-address,
.footer_open-hours {
  font-size: 0.8rem;
}

.footer__hours-container {
  display: flex;
  flex-direction: row;
  width: 400px;
  margin-left: 0px;
}

.footer__weekdays-container {
  padding-right: 30px;
}

.footer__saturday-container {
  padding-right: 30px;
  padding-top: 35px;
}

.footer__sunday-container {
  padding-top: 35px;
}

.footer__social-img {
  width: auto;
  height: 30px;
  margin-right: 15px;
  margin-top: 15px;
}

.footer__social a {
  text-decoration: none;
  align-items: center;
}
