/* Global */
body {
  font-family: Verdana, Arial, sans-serif;
  min-width: 950px;
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

/* Nav Section */
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.nav-bar__title {
  font-size: 24px;
  margin-left: 50px;
  color: #335576;
}

.nav-bar__title:hover {
  color: #db7a4e;
}

.nav-bar__title--link {
  text-decoration: none;
  display: flex;
}

.nav-bar__title--link img {
  width: 50px;
  margin-left: 10px;
}

.nav-bar__items {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
  align-items: center;
}

.nav-bar__item {
  list-style: none;
  margin-left: 25px;
}

.nav-bar__item--book {
  font-size: 12px;
  font-weight: 600;
  list-style: none;
  margin-left: 25px;
  background-color: #335576;
  border-radius: 25px;
  padding: 10px;
  text-decoration: none;
  width: 120px;
  text-align: center;
}

.nav-bar__link--book {
  text-decoration: none;
  color: white;
}

.nav-bar__item--book:hover {
  background-color: #062c53;
}

.nav-bar__link {
  text-decoration: none;
  color: black;
}

.nav-bar__link:hover {
  color: #db7a4e;
}

.nav-bar__link--highlight {
  border-bottom: 4px solid #db7a4e;
}

/* Footer Section */
.footer {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fefaf5;
}

.footer__contact--title {
  color: #335576;
  font-weight: 600;
}

.footer p {
  color: #335576;
}

.footer__email--highlight {
  color: #db7a4e;
}

.footer__hours--title {
  color: #335576;
  font-weight: 600;
}

.footer__hours--highlight {
  color: #db7a4e;
}

.footer__social--title {
  color: #335576;
  font-weight: 600;
}

.footer__social--img {
  width: auto;
  height: 30px;
  margin-right: 15px;
  margin-top: 15px;
}

.footer__container--social a {
  text-decoration: none;
  align-items: center;
}

/* Thank you Page */

.thankyou-img {
  width: 600px;
  margin-left: 225px;
  margin-top: 25px;
}

.confirmation-title {
  font-size: 48px;
  color: white;
  margin-left: 330px;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 
RESPONSIVE WORK - IN PROGRESS*/

/* @media (max-width: 840px) {
  .nav-bar__title {
    font-size: 24px;
    margin-left: 50px;
    color: #763370;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    background-color: #fefaf5;
    margin-bottom: 100px;
    padding-bottom: 325px;
    padding-top: 150px;
    height: 750px;
  }

  .hero__title {
    color: #335576;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 16px;
    padding-top: 125px;
  }

  .hero__container--right {
    position: relative;
    height: 375px;
    width: 375px;
    margin-right: 50px;
  }

  .hero__img {
    position: absolute;
    top: -200px;
    left: -20px;
    object-fit: contain;
  }

  .nav-bar__title {
    font-size: 14px;
    margin-left: 18px;
    color: #335576;
  }

  .nav-bar__items {
    border: 2px solid red;
  }

  .recs__photos--container {
    display: flex;
    flex-direction: column;
    height: 1000px;
  }

  .recs__photo--container {
    margin: 25px;
    width: 250px;
  }
} */
